.MainSpan {
  font-size: 25px;
  margin-right: 20px;
}

.MainInput {
  font-size: 18px;
  width: 240px;
}

.MainButton {
  margin-top: 10px;
  font-size: 20px;
  cursor: pointer;
  width: 150px;
  height: 50px;
  border-radius: 15px;
  transition-duration: 0.2s;
}

.MainButton:hover {
  background-color: gray;
  color: white;
  transition-duration: 0.2s;
}

.watingDiv {
  display: flex;
  justify-content: center;
}

.watingBox {
  line-height: 50px;
  color: white;
  font-size: 30px;
  width: 700px;
  height: 50px;
  margin-top: 50px;
  position: fixed;
}
